
<section class="login ">
  

  <div class="container ">
        <div class="row d-flex justify-content-center " >
          
          <div class="col-7 p-2">
            <h1>Đăng nhập</h1>
          </div>
          <div class="col-6 p-2 " style="border: 1px solid black; border-radius: 10px ;">
            <input type="text" v-model="form.userName" class="form-control mb-2" placeholder="Tên tài khoản">  
          <input type="password" v-model="form.password" class="form-control mb-2" placeholder="Mật khẩu">

            <button class="btn btn-primary" @click="login()"> Login </button>
          </div>
        </div>
  </div>
  
 

</section>

